<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="API Gateway Proxy" stopProcessing="true">
          <match url="^apigateway/(.*)" />
          <action type="Rewrite" url="https://localhost:4443/{R:1}" />
          <serverVariables>
            <!-- حتماً نام متغیرها دقیقاً همین باشد -->
            <set name="HTTP_X_FORWARDED_HOST" value="{HTTP_HOST}" />
            <set name="HTTP_X_FORWARDED_FOR" value="{REMOTE_ADDR}" />
            <set name="HTTP_X_FORWARDED_PROTO" value="https" />
          </serverVariables>
        </rule>

        <rule name="React Routes" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
 
    <staticContent>
  <!-- تنظیم پیش‌فرض: هر فایل استاتیکی کش طولانی بالا (۱ سال) داشته باشد -->
  <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
</staticContent>
  </system.webServer>
<location path="index.html">
      <system.webServer>
        <staticContent>
          <clientCache cacheControlMode="DisableCache" />
        </staticContent>
      </system.webServer>
    </location>
</configuration>